<div class="home__container">
	<div class="games__container">
		<app-card *ngFor="let game of games; index as i" gameCover="{{game.cover}}" gameLabel="{{game.label}}"
			gameType="{{game.type}}" gamePrice="{{game.price}}">
		</app-card>
	</div>	

	<div class="divider__container">
		<h1>PS5</h1>
		<hr />
	</div>	

	<div class="games__container">		
		<app-card *ngFor="let game of ps5Games; index as i" gameCover="{{game.cover}}" gameLabel="{{game.label}}"
			gameType="{{game.type}}" gamePrice="{{game.price}}">
		</app-card>
	</div>

	<div class="divider__container">
		<h1>DIGITAL</h1>
		<hr />
	</div>

	<div class="games__container">		
		<app-card *ngFor="let game of digitalGames; index as i" gameCover="{{game.cover}}" gameLabel="{{game.label}}"
			gameType="{{game.type}}" gamePrice="{{game.price}}">
		</app-card>
	</div>

</div>